#parrafo1{
color: aqua;
font-size: 60px;
}

#parrafo2{
    color: blue;
    font-size: 50px;
    text-align: center;
    }
    
#parrafo3{
     color: green;
    font-size: 60px;
    }

    #id{
        color: brown;
    }

    .ParrafoGenerico{
        color: green;
        font-size: 8px;
        text-align: center;
    }